/*----------------CSS RESET--------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* ------------------Main Styling Starts------------------- */
body {
  background-color: black;
}

.container {
  margin-top: 1rem;
  width: min(90%, 600px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(
    90deg,
    rgb(69, 31, 183) 0%,
    hsla(269, 97%, 37%, 1) 33%,
    hsla(320, 77%, 55%, 1) 66%,
    hsla(316, 41%, 93%, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500%;
  animation: text 5s ease-in-out infinite forwards;
}

@keyframes text {
  0% {
    background-size: 200%;
  }
  25% {
    background-color: 100%;
  }
  50% {
    background-size: 0%;
  }
  75% {
    background-size: 100%;
  }
  100% {
    background-size: 200%;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 2em;
  padding-top: 2em;
  margin-bottom: 1rem;
  gap: 2rem;
}

.timer-main-part {
  color: white;
  font-size: 5rem;
}

.millisecond {
  font-size: 2rem;
}

.function-button {
  cursor: pointer;
  background-color: black;
  border: none;
  width: 6rem;
  margin-inline: 1.5rem;
}

.function-button:hover,
.function-button:focus {
  scale: 1.1;
}

.pause-image {
  outline: 5px solid rgba(128, 128, 128, 0.682);
  outline-offset: -5px;
  border-radius: 50%;
}

.none {
  display: none;
}

.laps {
  width: 100%;
}
.laps-list-container {
  max-height: 40vh;
  min-height: 100%;
  overflow-y: auto;
}

.border {
  border: 2px solid rgb(109, 98, 98);
}

.laps-list-container::-webkit-scrollbar {
  width: 0.5em;
}
.laps-list-container::-webkit-scrollbar-track {
  background-color: black;
}
.laps-list-container::-webkit-scrollbar-thumb {
  background-color: rgb(109, 98, 98);
  border-radius: 20px;
}

.lap-list {
  color: rgba(85, 82, 82, 0.999);
  font-size: 3rem;
  border-block: 2px solid rgba(85, 82, 82, 0.999);
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.milliseconds {
  font-size: 2rem;
}

@media (max-width: 40.5em) {
  .timer-main-part {
    font-size: 3rem;
  }
  .millisecond {
    font-size: 1rem;
  }
  .buttons {
    display: flex;
    justify-content: center;
  }
  .function-button {
    width: 20%;
    margin-inline: 1rem;
  }
  .milliseconds {
    font-size: 1rem;
  }
  .lap-list {
    font-size: 2rem;
  }
  .none {
    display: inline-block;
    visibility: hidden;
  }
  .laps {
    max-height: 50vh;
  }
}

@media (max-width: 22.5em) {
  .title {
    font-size: 3rem;
  }
  .timer-main-part {
    font-size: 2rem;
  }
  .millisecond {
    font-size: 1rem;
  }

  .function-button {
    width: 20%;
    margin-inline: 0.5rem;
  }
  .milliseconds {
    font-size: 1rem;
  }
  .lap-list {
    font-size: 1.5rem;
  }
}
